@charset "utf-8";

html {
    font-size: "10px";
}

div {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: '나눔고딕', nanumgothic, Helvetica;
    line-height: 1.5em;
}

p {
/*    font-size: 0.5em;*/
/*    font: italic bold 15px/20px '나눔고딕';*/
    font-size: 1.5rem;  /*resize from the root*/
    text-align: center;
    text-indent: -20px;
}

.justify {
    text-align: justify;
}

span {
/*    font-size: 150%;*/
    text-decoration: overline;
}

strong {
/*    font-size: 1.5em;*/
}

.front { /*class 사용 */
/*
    border-color: #f90;
    border-style: solid;
    border-width: 3px;
    color: #fff;
*/

}

#end { /*id 사용 */
/*    background-color: rgba(0,100,0,1);*/
    font-style: normal;
    font-weight: bolder;
}