@charset "utf-8";

strong {
    color: blue;
}

p {
    color: blue;
/*    text-decoration: underline;*/
}

table, tr, td {
    border: 0;
    border-spacing: 0;
    padding: 10px;
}

.front {
    color: red;
}

#end {
    font-weight: bold
}

a:link {
    color: rgb(0,0,255);
}

a:visited {
    color: #f00;
}

a:hover {
    color: #00ff00;
}

a:active {
    color: rgba(23, 23, 23, 0.3);
}